language: node_js
node_js:
 - node
 - "9"

dist: trusty
sudo: required

compiler: gcc

before_install:
 - pwd
 - sudo apt-get -qq update
 - sudo apt-get install -y build-essential npm
 - cd /home/travis/build/mjoppich/igem_munich_2018


install:
 - npm install

script: npm run build
